

// Body
$body-bg: #eee;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: none;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif:  "notokr-medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;
$navbar-height: 60px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
// $panel-default-heading-bg: #fff;


// Overriding
$navbar-default-bg: $body-bg;
$navbar-default-border: $body-bg;
$navbar-margin-bottom: 0;

$jumbotron-bg: white;
$jumbotron-padding: 0;

$thumbnail-bg: white;
$thumbnail-border: #ccc !default;

$page-header-border-color: #ccc;
