
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "../font/NotoKR-Black/stylesheet.css";
@import "../font/NotoKR-Bold/stylesheet.css";
@import "../font/NotoKR-DemiLight/stylesheet.css";
@import "../font/NotoKR-Light/stylesheet.css";
@import "../font/NotoKR-Medium/stylesheet.css";
@import "../font/NotoKR-Regular/stylesheet.css";
@import "../font/NotoKR-Thin/stylesheet.css";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

header {
    margin-bottom: 10px;

    .contact-number {
        line-height: $navbar-height;
    }

    .navbar-brand {
        padding: 14px;
    }

    .admin-navbar {
        background-color: $gray-dark;
        > strong {
            margin-left: 10px;
            color: white;
        }
        ul {
            margin: 0 15px;
            padding: 0;
            list-style: none;
            display: inline-block;
            li {
                float: left;
                display: inline-block;
                margin-right: 5px;

                &:after {
                    content: '|';
                    margin-left: 5px;
                    color: $gray-light;
                }

                &:last-child {
                    margin-right: 0;

                    &:after {
                        content: '';
                        margin-left: 0;
                    }
                }

                a {
                    color: $gray-lighter;
                    font-size: 11px;
                    &:hover {
                        color: white;
                    }
                }
            } 
        }
    }
}

footer {
    background-color: $gray-dark;
    padding: 10px 0;
    margin-top: 10px;

    nav {
        ul {
            list-style: none;
            li {
                float: left;
                &::before {
                    content: "|";
                    margin: 0 5px;
                }

                &:first-child::before {
                    content: "";
                }
            }
        }
    }

    .media {
        color: $gray-light;
        clear: both;

        .copyright {
            color: $gray-lighter;
        }
    }
}

.container {
    min-width: 320px;
}

main {
    .jumbotron {
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-right: none;
        border-left: none;

        .carousel {
            .carousel-inner .item img {
                max-height: 360px;
                margin: 0 auto;
            }
            .carousel-control {
                background: none;
            }
        }
    }

    .container.standalone {
        background-color: white;
        padding: 30px;
        border-radius: 4px;
    }

    .page-header h2 {
        margin: 0;
        padding: 0;
    }

    .panel, .alert {
        margin-bottom: 0;
    }

    .panel-info .panel-footer {
        background-color: $panel-info-heading-bg;
    }

    .panel-danger .panel-footer {
        background-color: $panel-danger-heading-bg;
    }

    .row.panel {
        margin: 5px -10px;
    }

    .panel-body .row {
        margin: 0;
    }

    .panel .table {
        td, .label {
            vertical-align: middle;
        }
    }

    .request-panel {
        height: 310px;
        background-color: #eee;
        overflow: hidden;

        .table {
            background-color: white;
        }

        .placeholder {
            height: 234px;
        }
    }

    .board-panel {
        height: 195px;
        background-color: #eee;
        overflow: hidden;

        .table {
            background-color: white;
        }

        .placeholder {
            height: 155px;
        }
    }

    .btn-middle {
        margin-bottom: 10px;
    }

    form {
        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
    } 

    label.required::before {
        content: "* ";
        color: red;
        font-size: 20px;
        line-height: 1em;
        vertical-align: middle;
    }

    .well.answer {
        margin-top: 20px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 5px;
    }

    .middle-box {
        a {
            color: inherit;
            text-decoration: none;
        }

        h3 {
            position: absolute;
            width: 100%;
            text-align: center;
            font-size: 36px;
            padding: 5% 30% 0 10%;
            margin: 0;

            small {
                display: block;
                font-size: 14px;
            }
        }

        div.description {
            position: absolute;
            font-size: 14px;
            bottom: 0;
            padding: 0 50% 10% 10%;
        }
    }

    .img-responsive {
        width: 100%;
    }

    .text-large {
        font-size: 1.5em;
    }

    .text-xlarge {
        font-size: 2em;
    }

    .text-xxlarge {
        font-size: 2.5em;
    }

    ol.steps {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0 -15px;

        li {
            .step {
                height: 90px;
                color: $alert-success-text;
                padding: 15px 0 15px 40px;
                background-color: darken($alert-success-bg, 20%);
                position: relative;

                .media .media-heading {
                    margin: 5px 0;
                }
    
                &::before {
                    content: " "; 
                    display: block; 
                    width: 0; 
                    height: 0;
                    border-top: 45px solid transparent;       
                    border-bottom: 45px solid transparent;
                    border-left: 30px solid $body-bg;
                    position: absolute;
                    top: 50%;
                    margin-top: -45px; 
                    margin-left: 10px;
                    left: 100%;
                    z-index: 1; 
                }
    
                &::after {
                    content: " "; 
                    display: block; 
                    width: 0; 
                    height: 0;
                    border-top: 45px solid transparent; /* Go big on the size, and let overflow hide */
                    border-bottom: 45px solid transparent;
                    border-left: 30px solid darken($alert-success-bg, 20%);
                    position: absolute;
                    top: 50%;
                    margin-top: -45px; 
                    left: 100%;
                    z-index: 2; 
                }
    
            }

            &:first-child {
                .step {
                    padding-left: 15px;
                    border-radius: 4px 0 0 4px;
                }
            }

            &:last-child {
                .step {
                    border-radius: 0 4px 4px 0;
                }
                .step::after {
                    content: none;
                }
            }
        }

    }

    .form-table {
        border-bottom: 1px solid $table-border-color;

        th {
            background-color: $gray-lighter;
            vertical-align: middle;
            width: 140px;
            text-align: right;

            .control-label {
                line-height: 36px;
                margin: 0;
                margin-right: 10px;
            }
        }

        td {
            > .form-control, > .input-group {
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0!important;
                }
            }

            .row {
                margin: 0 -5px;

                > div {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }

        .radio {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .search-bar {
        width: 200px;
        margin-bottom: 20px;
    }

    .pagination {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

}